.dashbar-container {
    background-color: #f8f9fa;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-nav .nav-link {
    margin-right: 1rem;
  }
  
  .navbar-nav .nav-link:hover {
    color: #f39c12;
    transition: color 0.3s ease;
  }
  
  .nav-item .dropdown-menu {
    background-color: white;
    color: black;
  }
  
  .nav-item .dropdown-item:hover {
    background-color: white;
    color: #f39c12;
  }

  .dashboard-content {
    padding: 2rem
  }
  
  .dashboard-title {
    font-size: 2.5rem;
    color: #343a40;
  }
  
  .card {
    border: none;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  
  .card-title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  
  .card i {
    color: #6c757d;
  }
  
  .btn {
    margin-top: 1rem;
    font-weight: bold;
  }
  
  .btn-outline-primary:hover, 
  .btn-outline-success:hover, 
  .btn-outline-danger:hover {
    color: white;
    background-color: currentColor;
  }
  